{% extends "main.html" %}
{% block content %}
<div class="wrapper" style="margin-left:auto;margin-right:auto; width: 100%; ">
  <form class="" action="" method="post" style="display: flex;flex-direction:column; margin-right: auto;margin-left: auto; width:80%; align-items:center;">
    <label for="">Email </label><input type="email" name="email" value="" ><br>
    <label for="">Password</label> <input type="password" name="password" value="">
    <button type="submit" name="button" class="btn btn-danger">Submit</button>
  </form>
</div>
{% endblock %}
