{% extends "main.html" %}
{% block content %}
<table style="width: 50%; margin-right: auto; margin-left: auto;">
  <h1 style="text-align:center">My Support Tickets</h1>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>priority</th>
      <th>Subject</th>
      <th>email</th>
      <th>messages</th>
    </tr>
  </thead>
  <tbody>
    {% for tickets in ticket_data %}
    <tr style="width: 25%;">
      <td>{{tickets.id}}</td>
      <td>{{tickets.name}}</td>
      <td>{{tickets.priority}}</td>
      <td>{{tickets.subject}}</td>
      <td>{{tickets.email}}</td>
      <td>{{tickets.messages | truncate(25)}}</td>
      <td><a href="delete_ticket/{{tickets.id}}"><button type="button" class='btn btn-danger' name="button"><i class="fas fa-times"></i></button></a></td>
      <td><a href="edit_ticket/{{ tickets.id }}"><button type="button" class='btn btn-danger' name="button"><i class="fas fa-pencil-alt"></i></button></a></td>
    </tr>
    {% endfor %}

  </tbody>

</table>
{% endblock %}
